* { 
    background-color: darkslategray;
}

#container {
    text-align : center;
    height: 8vh ;
    font-size: 50px;
    font-family: courier;
    font-weight: bold;
    color : white;
}

#scoreboard {
    text-align: center;
    margin-top : 40px;
    font-size : 50px;
}

#player-score {
    margin-right: 100px;
    font-size: 70px;
    
}

#computer-score {
    margin-left : 100px ;
    font-size: 70px;
}

#names {
    display : flex;
    justify-content: space-between;
    font-family: courier;
    color: white;
}
#player-name {
    font-size: 40px;
    text-align: center;
    margin-left: 520px;
    font-weight: bold;
}

#computer-name {
    font-size: 40px;
    text-align: center;
    margin-right: 520px;
    font-weight: bold;
}

#thirdttl {
    text-align: center;
    font-size: 50px;
    font-family: courier;
    display: none;
}

#choices {
    text-align: center;
    background-color : white;
}
#s {
    width: 20%;
    height : 50vh;
    border : 2px solid black;
    border-radius : 300px;
    background-color: white;
    transition: all 0.3s ease ;
    padding : 0 60px;
}
#s:hover {
    cursor: pointer;
    background-color :grey;
}

#r {
    width: 20%;
    height: 50vh;
    border : 2px solid black;
    border-radius : 300px;
    background-color: white;
    transition: all 0.3s ease ;
    padding : 0 60px;
}
#r:hover {
    cursor: pointer;
    background-color : grey;
}
 
#p {
    width: 20%;
    height : 50vh;
    border : 2px solid black;
    border-radius : 300px;
    background-color: white;
    transition: all 0.3s ease ;
    padding : 0 60px;
}
#p:hover {
    cursor: pointer;
    background-color: grey;
}


ul {
    list-style: none;
    display: inline-flex;
}
#s-name {
    padding : 0 170px;
    font-family : monospace;
    color: white;
    font-size: 38px;
}

#r-name {
    padding : 0 170px;
    font-family : monospace;
    color: white;
    font-size: 38px;
}

#p-name {
    padding : 0 170px;
    font-family : monospace;
    color: white;
    font-size: 38px;   
}